# Mac OSX
.DS_Store

# Emacs
*~

# VSCode
.vscode

# Python
*.pyc
lib/*.pyc
.ipynb_checkpoints
__pycache__


# Output & Resource
results
scripts
refs
datasets
reports

# Exception files
src/lib/models/layer.py
src/tools/graph_draw_all_embryo_cls.py